<button (click)="getServiceData()">get service data</button>
<div class="add-task">
  <div class="add-task-simple">
    <i class="fa fa-plus" aria-hidden="true"></i>
    新增任務
  </div>
  <app-task-detail></app-task-detail>

</div>
<div class="task">
  <div class="task-simple" (click)="showDetail=!showDetail">
    <div class="task-main">
      <input type="checkbox" name="" id="">
      <div class="text">輸入點什麼</div>
      <div class="action">
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </div>
    </div>
    <div class="task-simple-info">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <i class="fa fa-file-o" aria-hidden="true"></i>
      <i class="fa fa-commenting-o" aria-hidden="true"></i>
    </div>
  </div>
  <app-task-detail></app-task-detail>
</div>
