<div class="task">
  <div class="task-simple">simple</div>
  <div class="task-detail">
    <div class="cate">
      <div class="cate-title">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        期限
      </div>
      <div class="cate-content"></div>
    </div>
    <div class="cate">
      <div class="cate-title">
        <i class="fa fa-file-o" aria-hidden="true"></i>
        檔案
      </div>
      <div class="cate-content"></div>
    </div>
    <div class="cate">
      <div class="cate-title">
        <i class="fa fa-commenting-o" aria-hidden="true"></i>
        記事
      </div>
      <div class="cate-content"></div>
    </div>
    <div class="bottom">
      <div>
        <i class="fa fa-times" aria-hidden="true"></i>取消</div>
      <div>
        <i class="fa fa-plus" aria-hidden="true"></i>儲存</div>
    </div>
  </div>
</div>
