// standard setting
// color
$lightBlue:#4A90E2;
$darkBlue:#00408B;
$red:#D0021B;
$yellow:#F5A623;
$lightYellow:#FFF2DC;
$lightGray:#F2F2F2;
$middleGray:#C8C8C8;
$darkGray:#757575;
$white:#FFFFFF;
$black:#000000;
$borderGray:#E1E1E1;
// font
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: 'Noto Sans TC';
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: $borderGray;
}
.container{
  width: 1024px;
  margin: 0 auto;
}

// text style
@mixin textTitle{
  font-size: 1.5rem;
  font-weight: bold;
}
.text-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.text-subtitle {
  font-style: 1.25rem;
  font-weight: bold;
}

.text-normal {
  font-size: 1rem;
}

.text-status {
  font-size: 1.5rem;
  font-style: italic;
}

// body
body {
  margin: 0;
  padding: 0;
}

// header
header {
  width: 100%;
  height: 76px;
  margin: 0;
  background-color: $lightBlue;
  div{
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    a{
      display: inline-block;
      width: 33.3%;
      text-align: center;
      height: 100%;
      line-height: 76px;
      text-decoration: none;
      @include textTitle;
      &.active{
        color: $white;
        border-bottom: 5px solid $darkBlue;
      }
      &.inactive{
        color: $darkBlue
      }
    }
  }
}

// task
.task{
  border-radius: 5px;
  border: 1px solid $middleGray;
  .task-detail{
    .bottom{
      width: 100%;
      height: 76px;
      div{
        display: inline-block;
        width: 50%;
        height: 60px;
        text-align: center;
        line-height: 60px;
        &:first-child{
          background-color: $white;
          color: $red;
        }
        &:last-child{
          background-color: $lightBlue;
          color:$white;
        }
      }
    }
  }
}
