// standard setting
// fontawsome
$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
// color
$lightBlue:#4A90E2;
$darkBlue:#00408B;
$red:#D0021B;
$yellow:#F5A623;
$lightYellow:#FFF2DC;
$lightGray:#F2F2F2;
$middleGray:#C8C8C8;
$darkGray:#757575;
$white:#FFFFFF;
$black:#000000;
$borderGray:#E1E1E1;
// font
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: 'Noto Sans TC';
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: $borderGray;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

// text style
@mixin textTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.text-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.text-subtitle {
  font-style: 1.25rem;
  font-weight: bold;
}

.text-normal {
  font-size: 1rem;
}

.text-status {
  font-size: 1.5rem;
  font-style: italic;
}

// body
body {
  margin: 0;
  padding: 0;
}

// header
header {
  width: 100%;
  height: 76px;
  margin: 0;
  background-color: $lightBlue;
  div {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    a {
      display: inline-block;
      width: 33.3%;
      text-align: center;
      height: 100%;
      line-height: 76px;
      text-decoration: none;
      @include textTitle;
      &.active {
        color: $white;
        border-bottom: 5px solid $darkBlue;
      }
      &.inactive {
        color: $darkBlue
      }
    }
  }
}

// task
.task {
  border-radius: 5px;
  border: 1px solid $middleGray;
  background-color: $lightGray;

  .task-simple{
    padding: 10px 72px;
    height: 102px;
    .task-main{
      >div{
        display: inline-block;
      }
      input[type=checkbox]{
        width: 24px;
        height: 24px;
        background-color: $white;
        box-shadow: none;
      }
      .text{
        width:300px;
      }
      .action{
        float: right;
        i{
          padding-right: 32px;
        }
      }
    }
    .task-simple-info{
      padding: 5px 0;
      i{
        padding-right: 15px;
      }
    }
  }
  .task-detail {
    .cate{
      padding: 10px 72px;
      .cate-title{
        i{
          padding-right: 11px;
        }
      }
      .cate-content{
        padding-top: 10px;
        padding-left: 30px;
        .add-file{
          display: inline-block;
          width: 32px;
          height: 32px;
          background-color: $middleGray;
          text-align: center;
          line-height: 32px;
          border-radius: 2px;
          i{
            color: $white;
          }
        }
        textarea{
          width: 100%;
          resize: none;
          padding: 8px 16px;
        }
      }
    }
    .bottom {
      width: 100%;
      height: 60px;
      div {
        display: inline-block;
        width: 50%;
        height: 60px;
        text-align: center;
        line-height: 60px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
        &:first-child {
          background-color: $white;
          color: $red;
          &:hover{
            background-color: #fdfdfd;
          }
        }
        &:last-child {
          background-color: $lightBlue;
          color: $white;
          &:hover{
            background-color: #3982d7;
          }
        }
        i {
          margin-right: 10px;
        }
      }
    }
  }
}
// add-task
.add-task-simple{
  height: 65px;
  padding: 0px 72px;
  border: 2px solid $middleGray;
  border-radius: 5px;
  line-height: 65px;
  background-color: $white;
}
