// standard setting
// fontawsome
$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
// color
$lightBlue:#4A90E2;
$darkBlue:#00408B;
$red:#D0021B;
$yellow:#F5A623;
$lightYellow:#FFF2DC;
$lightGray:#F2F2F2;
$middleGray:#C8C8C8;
$darkGray:#757575;
$white:#FFFFFF;
$black:#000000;
$borderGray:#E1E1E1;
// font
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: 'Noto Sans TC';
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: $borderGray;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

// text style
@mixin textTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.text-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.text-subtitle {
  font-style: 1.25rem;
  font-weight: bold;
}

.text-normal {
  font-size: 1rem;
}

.text-status {
  font-size: 1.5rem;
  font-style: italic;
}

// body
body {
  margin: 0;
  padding: 0;
}

// header
header {
  width: 100%;
  height: 76px;
  margin: 0;
  background-color: $lightBlue;
  div {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    a {
      display: inline-block;
      width: 33.3%;
      text-align: center;
      height: 100%;
      line-height: 76px;
      text-decoration: none;
      @include textTitle;
      &.active {
        color: $white;
        border-bottom: 5px solid $darkBlue;
      }
      &.inactive {
        color: $darkBlue
      }
    }
  }
}

// task
.task,
.add-task {
  border-radius: 5px;
  border: 1px solid $middleGray;
  background-color: $lightGray;
  margin-top: 10px;

  .task-simple {
    padding: 10px 72px;
    height: 102px;
    &.is-favorite{
      background-color: $lightYellow;
    }
    .task-main {
      >div {
        display: inline-block;
      }
      /* The container */
      .container {
        display: inline-block;
        width: 750px;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        @include textTitle();
      }
      /* Hide the browser's default checkbox */
      .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: 7px;
        left: 0;
        height: 25px;
        width: 25px;
        border-radius: 2px;
        background-color: $white;
      }
      /* When the checkbox is checked, add a blue background */
      .container input:checked~.checkmark {
        background-color: $lightBlue;
      }
      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      /* Show the checkmark when checked */
      .container input:checked~.checkmark:after {
        display: block;
      }
      /* Style the checkmark/indicator */
      .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      .text {
        width: 300px;
      }
      .action {
        float: right;
        span {
          padding-right: 32px;
          i {
            cursor: pointer;
            &.is-favorite {
              color: $yellow;
            }
            &.is-edit {
              color: $lightBlue;
            }
          }
        }
      }
    }
    .task-simple-info {
      padding: 5px 0;
      i {
        padding-right: 15px;
      }
    }
  }
  .task-detail {
    .cate {
      padding: 10px 72px;
      .cate-title {
        i {
          padding-right: 11px;
        }
      }
      .cate-content {
        padding-top: 10px;
        padding-left: 30px;
        .add-file {
          display: inline-block;
          width: 32px;
          height: 32px;
          background-color: $middleGray;
          text-align: center;
          line-height: 32px;
          border-radius: 2px;
          i {
            color: $white;
          }
        }
        textarea {
          width: 100%;
          resize: none;
          padding: 8px 16px;
        }
      }
    }
    .bottom {
      width: 100%;
      height: 60px;
      div {
        display: inline-block;
        width: 50%;
        height: 60px;
        text-align: center;
        line-height: 60px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
        &:first-child {
          background-color: $white;
          color: $red;
          &:hover {
            background-color: #fdfdfd;
          }
        }
        &:last-child {
          background-color: $lightBlue;
          color: $white;
          &:hover {
            background-color: #3982d7;
          }
        }
        i {
          margin-right: 10px;
        }
      }
    }
  }
}

// add-task
.add-task-simple {
  height: 65px;
  padding: 0px 72px;
  border: 1px solid $middleGray;
  border-radius: 5px;
  line-height: 65px;
  background-color: $white;
}
