<div class="add-task">
  <div class="add-task-simple" (click)="showNewDetail=!showNewDetail">
    <i class="fa fa-plus" aria-hidden="true"></i>
    新增任務
  </div>
  <div class="task-detail" *ngIf="showNewDetail">
      <div class="cate">
        <div class="cate-title">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          期限
        </div>
        <div class="cate-content">
          <input type="date" name="" id="">
          <input type="time" name="" id="">
        </div>
      </div>
      <div class="cate">
        <div class="cate-title">
          <i class="fa fa-file-o" aria-hidden="true"></i>
          檔案
        </div>
        <div class="cate-content">
          <span class="add-file">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </span>
        </div>
      </div>
      <div class="cate">
        <div class="cate-title">
          <i class="fa fa-commenting-o" aria-hidden="true"></i>
          記事
        </div>
        <div class="cate-content">
          <textarea placeholder="寫點什麼..." name="" id="" cols="30" rows="10"></textarea>
        </div>
      </div>
      <div class="bottom">
        <div (click)="task.showDetail=false">
          <i class="fa fa-times" aria-hidden="true"></i>取消</div>
        <div (click)="task.showDetail=false">
          <i class="fa fa-plus" aria-hidden="true"></i>新增任務</div>
      </div>
    </div>
</div>
<div class="task" *ngFor="let task of tasks">
  <div class="task-simple" [ngClass]="{'is-favorite': task.isFavorite,'show-detail':task.showDetail}">
    <div class="task-main">
      <label class="container" [ngClass]="{'done':task.done}">{{task.name}}
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <div class="action">
        <span *ngIf="!task.isFavorite">
          <i class="fa fa-star-o" aria-hidden="true" (click)="task.isFavorite=!task.isFavorite"></i>
        </span>
        <span *ngIf="task.isFavorite">
          <i class="fa fa-star is-favorite" aria-hidden="true" (click)="task.isFavorite=!task.isFavorite"></i>
        </span>
        <span>
          <i class="fa fa-pencil" aria-hidden="true" [ngClass]="{'is-edit': task.showDetail}" (click)="task.showDetail=!task.showDetail"></i>
        </span>
      </div>
    </div>
    <div class="task-simple-info" *ngIf="!task.showDetail">
      <i class="fa fa-calendar" aria-hidden="true" *ngIf="task.deadline"></i>
      <i class="fa fa-file-o" aria-hidden="true" *ngIf="task.hasFile"></i>
      <i class="fa fa-commenting-o" aria-hidden="true" *ngIf="task.comment"></i>
    </div>
  </div>
  <div class="task-detail" *ngIf="task.showDetail">
    <div class="cate">
      <div class="cate-title">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        期限
      </div>
      <div class="cate-content">
        <input type="date" name="" id="">
        <input type="time" name="" id="">
      </div>
    </div>
    <div class="cate">
      <div class="cate-title">
        <i class="fa fa-file-o" aria-hidden="true"></i>
        檔案
      </div>
      <div class="cate-content">
        <span class="add-file">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </span>
      </div>
    </div>
    <div class="cate">
      <div class="cate-title">
        <i class="fa fa-commenting-o" aria-hidden="true"></i>
        記事
      </div>
      <div class="cate-content">
        <textarea placeholder="寫點什麼..." name="" id="" cols="30" rows="10"></textarea>
      </div>
    </div>
    <div class="bottom">
      <div (click)="task.showDetail=false">
        <i class="fa fa-times" aria-hidden="true"></i>取消</div>
      <div (click)="task.showDetail=false">
        <i class="fa fa-plus" aria-hidden="true"></i>儲存</div>
    </div>
  </div>
</div>
