<div class="task" *ngFor="let task of tasks">
  <div class="task-simple" (click)="task.showDetail=!task.showDetail">
    <div class="task-main">
      <input type="checkbox" name="" id="">
      <div class="text">{{task.name}}</div>
      <div class="action">
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </div>
    </div>
    <div class="task-simple-info">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <i class="fa fa-file-o" aria-hidden="true"></i>
      <i class="fa fa-commenting-o" aria-hidden="true"></i>
    </div>
  </div>
  <div class="task-detail" *ngIf="task.showDetail">
    <div class="cate">
      <div class="cate-title">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        期限
      </div>
      <div class="cate-content">
        <input type="date" name="" id="">
        <input type="time" name="" id="">
      </div>
    </div>
    <div class="cate">
      <div class="cate-title">
        <i class="fa fa-file-o" aria-hidden="true"></i>
        檔案
      </div>
      <div class="cate-content">
        <span class="add-file">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </span>
      </div>
    </div>
    <div class="cate">
      <div class="cate-title">
        <i class="fa fa-commenting-o" aria-hidden="true"></i>
        記事{{task.comment}}
      </div>
      <div class="cate-content">
        <textarea placeholder="寫點什麼..." name="" id="" cols="30" rows="10"></textarea>
      </div>
    </div>
    <div class="bottom">
      <div>
        <i class="fa fa-times" aria-hidden="true"></i>取消</div>
      <div>
        <i class="fa fa-plus" aria-hidden="true"></i>儲存</div>
    </div>
  </div>
</div>
